body{
    position: relative;
    left: 50%;
    top:50%;
    overflow: hidden;
}
.container{
    width: 350px;
    background:linear-gradient(to top,rgb(76, 209, 242), rgb(98, 235, 214));
    padding: 20px;
    border-radius: 15px;
    transform: translate(-50%, 40%);
    box-sizing: border-box;
}
.title{
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 10px;
}

input{
    display: block;
    width: 90%;
    margin: 5px;
    padding: 5px;
    border-radius: 8px;
}
#checkboxVale{
    display: inline-block;
    width: 5%;
}
#checkboxFgts{
    display:inline-block;
    width: 5%;
}
button{
    margin-top: 10px;
    margin-left: 5px;
    background-color: rgb(6, 222, 230);
    padding: 8px;
    border-radius: 10px;
}
